= inside_layout do
  = link_to root_url, :class => 'horizontal_scroll_logo' do
    = image_tag URL.assets("home/alexandra-farias-photography-logo.jpg"), :alt => "Alexandra Farias photography"

  %section.side_navigation
    %h2.first Photographs
    %ul
      %li= link_to "Newborns", newborns_path, nav_link_options(:newborns)
      %li= link_to "Kids", kids_path, nav_link_options(:kids)
      %li= link_to "Families", families_path, nav_link_options(:families)
      %li= link_to "Details", "/photography-details", nav_link_options(:details)
    %h2= link_to "Private tutoring", classes_path, nav_link_options(:classes)
    %h2= link_to "About me", about_path, nav_link_options(:about)
    %h2= link_to "Clients", "http://alexandrafarias.photoshelter.com/", nav_link_options(:clients)

  %section.side_navigation_body
    = yield
